In [55]:
import pandas as pd
import numpy as np

In [56]:
%pwd

'/home/sumedhshah94/w266_project_topmusichits/src/data'

## **Load Data**

In [57]:
songs = pd.read_csv("~/w266_project_topmusichits/data/interim/songs_charts_new_2000s.csv",index_col=False)
songs = songs.sort_values('song_year')
songs.head()

,song_name,artist_name,lyrics,album_name,genre,subgenre,danceability,energy,key,loudness,...,valence,tempo,duration_ms,song_year,trending_year,weeks_on_chart,hit,star,num_nonlexvoc_1,num_nonlexvoc_1_r_label
7504,Tho Dem Wraps,Nelly,"I boss thru in a Hummer, Murphy the Don, Lizzi...",Country Grammar,rap,southern hip hop,0.656,0.795,2,-6.859,...,0.476,179.643,248467,2000,0,0,0,0,26,low
615,Beautiful Day,U2,"The heart is a bloom, shoots up through the st...",All That You Can't Leave Behind,rock,permanent wave,0.536,0.928,11,-6.492,...,0.389,136.258,248400,2000,2000,25,1,1,23,low
3988,Kryptonite,3 Doors Down,"Well, I took a walk around the world to ease m...",The Better Life,rock,permanent wave,0.545,0.865,11,-5.708,...,0.543,99.010,233933,2000,2000,53,1,0,9,low
8309,Without You,Lucy Pearl,Girl you know I want you And I dont know what ...,Lucy Pearl,r&b,new jack swing,0.740,0.648,7,-4.510,...,0.705,88.843,237880,2000,0,0,0,1,33,low
5970,Ride Wit Me,Nelly,Where they at? Where they at? Where they at? W...,Country Grammar,rap,hip hop,0.854,0.692,7,-6.625,...,0.753,101.865,291782,2000,2001,29,1,1,94,high

In [58]:
songs.shape

(8546, 25)

In [59]:
songs.dtypes

song_name                   object
artist_name                 object
lyrics                      object
album_name                  object
genre                       object
subgenre                    object
danceability               float64
energy                     float64
key                          int64
loudness                   float64
mode                         int64
speechiness                float64
acousticness               float64
instrumentalness           float64
liveness                   float64
valence                    float64
tempo                      float64
duration_ms                  int64
song_year                    int64
trending_year                int64
weeks_on_chart               int64
hit                          int64
star                         int64
num_nonlexvoc_1              int64
num_nonlexvoc_1_r_label     object
dtype: object

### **Analysis was done in Excel to determine the cutoffs for each of the metadata's ranges and then coded in Python below. The file with the analysis is song_metadata_analysis.xlsx in the references folder**

 #### Danceability

In [60]:
songs['danceability2'] = pd.cut(x=songs['danceability'], bins=[-np.inf, 0.56, 0.70, np.inf],
                    labels=['low', 'medium', 'high'])

In [61]:
songs['danceability2'].value_counts()

high      2987
medium    2852
low       2707
Name: danceability2, dtype: int64

In [62]:
pd.crosstab(songs.hit, songs.danceability2, normalize='index')

danceability2       low    medium      high
hit
0              0.334246  0.334823  0.330931
1              0.241294  0.328980  0.429726

#### Energy

In [63]:
songs['energy2'] = pd.cut(x=songs['energy'], bins=[-np.inf, 0.6, 0.77, np.inf],
                    labels=['low', 'medium', 'high'])

In [64]:
songs['energy2'].value_counts()

high      2876
low       2864
medium    2806
Name: energy2, dtype: int64

In [65]:
pd.crosstab(songs.hit, songs.energy2, normalize='index')

energy2       low    medium      high
hit
0        0.335399  0.324733  0.339867
1        0.333955  0.343905  0.322139

*Should not include energy because of lack of difference between hit and non-hit*

#### Loudness

In [66]:
songs['loudness2'] = pd.cut(x=songs['loudness'], bins=[-np.inf, -7.41, -5.34, np.inf],
                    labels=['low', 'medium', 'high'])

In [67]:
songs['loudness2'].value_counts()

high      3063
medium    2845
low       2638
Name: loudness2, dtype: int64

In [68]:
pd.crosstab(songs.hit, songs.loudness2, normalize='index')

loudness2       low    medium      high
hit
0          0.330066  0.330643  0.339291
1          0.216418  0.342662  0.440920

**Speechiness**

In [69]:
songs['speechiness2'] = pd.cut(x=songs['speechiness'], bins=[-np.inf, 0.042, 0.11, np.inf],
                    labels=['low', 'medium', 'high'])

In [70]:
songs['speechiness2'].value_counts()

medium    3411
high      2708
low       2427
Name: speechiness2, dtype: int64

In [71]:
pd.crosstab(songs.hit, songs.speechiness2, normalize='index')

speechiness2       low    medium      high
hit
0             0.300086  0.396368  0.303546
1             0.214552  0.411070  0.374378

#### Acousticness

In [72]:
songs['acousticness2'] = pd.cut(x=songs['acousticness'], bins=[-np.inf, 0.023, 0.14, np.inf],
                    labels=['low', 'medium', 'high'])

In [73]:
songs['acousticness2'].value_counts()

high      3407
medium    2598
low       2541
Name: acousticness2, dtype: int64

In [74]:
pd.crosstab(songs.hit, songs.acousticness2, normalize='index')

acousticness2       low    medium      high
hit
0              0.297780  0.292159  0.410061
1              0.295398  0.355100  0.349502

#### Liveness

In [75]:
songs['liveness2'] = pd.cut(x=songs['liveness'], bins=[-np.inf, 0.1, 0.2, np.inf],
                    labels=['low', 'medium', 'high'])

In [76]:
songs['liveness2'].value_counts()

medium    3551
high      2577
low       2418
Name: liveness2, dtype: int64

In [77]:
pd.crosstab(songs.hit, songs.liveness2, normalize='index')

liveness2       low    medium      high
hit
0          0.281637  0.414817  0.303546
1          0.288557  0.418532  0.292910

*Should not include liveness because of lack of difference between hit and non-hit*

**Valence**

In [78]:
songs['valence2'] = pd.cut(x=songs['valence'], bins=[-np.inf, 0.37, 0.59, np.inf],
                    labels=['low', 'medium', 'high'])

In [79]:
songs['valence2'].value_counts()

medium    2921
high      2859
low       2766
Name: valence2, dtype: int64

In [80]:
pd.crosstab(songs.hit, songs.valence2, normalize='index')

valence2       low    medium      high
hit
0         0.330066  0.343471  0.326463
1         0.296020  0.334577  0.369403

**Tempo**

In [81]:
songs['tempo2'] = pd.cut(x=songs['tempo'], bins=[-np.inf, 103.6, 123.04, np.inf],
                    labels=['low', 'medium', 'high'])

In [82]:
songs['tempo2'].value_counts()

high      3700
low       2838
medium    2008
Name: tempo2, dtype: int64

In [83]:
pd.crosstab(songs.hit, songs.tempo2, normalize='index')

tempo2       low    medium      high
hit
0       0.330355  0.243586  0.426059
1       0.339552  0.197761  0.462687

**To csv**

In [84]:
# Save updated metadata dataset 
songs.to_csv('~/w266_project_topmusichits/data/interim/songs_charts_new_2000s_meta.csv',index=False)